/**
 * FOOTER SECTION
 * ------------------------------------------------------------------------- */
.footer {
  align-items: center;
  background: var(--dark-gray);
  color: var(--light-gray);
  display: flex;
  font-size: 0.875rem;
  height: 250px;
  text-align: center;
}

.icons-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icons-container a:not(:last-of-type) {
  margin-right: 20px;
}

.icons-container a {
  border: 1px solid var(--pink);
  border-radius: 50%;
}

.icons-container a:hover {
  box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.25);
}

.icons-container i {
  font-size: 24px;
  padding: 10px;
}
