/**
 * GLOBAL CSS
 * ------------------------------------------------------------------------- */
/* Variables */
:root {
  --white: #ffffff;
  --pink: #f15e75;
  --dark-pink: #e35469;
  --light-gray: #f3f3f3;
  --gray: #bcbcbc;
  --medium-gray: #6f6f6f;
  --dark-gray: #343a40;
}

html {
  scroll-padding-top: 80px;
}

/* General */
body {
  color: var(--dark-gray);
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(16px, 1vw, 18px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: clamp(32px, 4vw, 56px);
}

h2 {
  font-size: clamp(28px, 2vw, 32px);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

h2:after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--pink);
  bottom: 0;
  left: calc(50% - 25px);
}

h3 {
  font-size: clamp(18px, 2vw, 28px);
}

h4 {
  font-size: clamp(20px, 2vw, 22px);
}

a {
  color: var(--pink);
  text-decoration: none;
}

a:hover {
  color: var(--dark-pink);
}

section {
  padding: 100px 0;
}

img {
  width: 100%;
  height: auto;
}

.custom-button {
  background: var(--pink);
  border: 0;
  border-radius: 50px;
  color: var(--white);
  font-weight: 600;
  padding: 0.625rem 1.875rem 0.75rem 1.875rem;
  min-width: 200px;
  margin-top: 30px;
}

.custom-button:hover {
  background: var(--dark-pink);
  color: var(--white);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.title-content {
  text-align: center;
  padding-bottom: 30px;
}

.title-content p {
  color: var(--medium-gray);
}

/**
 * MEDIA QUERIES
 * ------------------------------------------------------------------------- */
@media (min-width: 768px) {
  section {
    padding: 160px 0;
  }
}
